#nav-bar {
    border-bottom: 1px solid #FFBD4A;
    background: #fff;
    -webkit-box-shadow: 0 10px 15px -6px #777;
    -moz-box-shadow: 0 10px 15px -6px #777;
         box-shadow: 0 10px 15px -6px #777;
         

}